@inject SignInManager<ApplicationUser> signInManager
@inject RoleManager<IdentityRole> roleManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    string OrgName = string.Empty;
    if (httpContextAccessor.HttpContext.Session.GetString("OrgName") != null)
    {
        OrgName = httpContextAccessor.HttpContext.Session.GetString("OrgName");
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - @OrgName </title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /*Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /*Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: black;
            color: white;
        }


        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        body > .container {
            /*padding: 60px 15px 0;*/
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }

        rounded-circle {
            border-radius: 50% !important;
        }

        .img-profile {
            height: 2rem;
            width: 2rem;
        }
    </style>
</head>
<body>

    @*Navigation*@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-controller="home" asp-action="index">@OrgName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="profile" asp-action="search">Search</a>
                        </li>
                    }
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="admin" asp-action="index">Admin Dashboard</a>
                            </li>
                            @*<a class="dropdown-item" asp-controller="admin" asp-action="index">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Dashboard
                </a>*@
                        }
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="superadmin" asp-action="index">Super Admin Dashboard</a>
                            </li>
                        }
                        @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>*@
                        @*<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>*@
                    </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-white">Welcome @User.Identity.Name</span>
                                @*<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">*@
                                <img class="img-profile rounded-circle" src="~/images/noimageThumb.jpg" />
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @if (User.IsInRole("Profile"))
                                {
                                    <a class="dropdown-item" asp-controller="profile" asp-action="viewmyprofile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        My Profile
                                    </a>
                                    <a class="dropdown-item" asp-controller="profile" asp-action="editmyprofile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Edit Profile
                                    </a>
                                }
                                <a class="dropdown-item" asp-controller="account" asp-action="changepassword">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="account" asp-action="logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="login">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    @*Navigation*@
    <div style="margin-bottom:10px"></div>
    <!-- Begin page content -->
    <main role="main" class="container">
        @RenderBody()
    </main>
    <div style="margin-bottom:30px">&nbsp;</div>
    <footer class="footer bg-dark text-white">
        <div class="container text-center my-auto">
            <span>&copy; 2020. All Rights Reserved.</span>
        </div>
    </footer>


    <div id="divProgressBar">
        <partial name="~/Views/Partials/_ProgressBar.cshtml" />
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

    <script>
        $(document).ready(function () {
            $("#divProgressBar").css("display", "none");
        });
    </script>

</body>
</html>
